@model TechnologyStore.Models.Empleado

@{
    ViewBag.Title = "SaveEmpleado";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>SaveEmpleado</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empleado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.nomEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apeEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apeEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apeEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dniEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dniEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dniEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tlfEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tlfEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tlfEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direcEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direcEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direcEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idDistrito, "Distrito", htmlAttributes: new { @class = "col-form-label" })
            @Html.DropDownList("idDistrito", (SelectList)ViewBag.distrito, "--Seleccione--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idDistrito, "", new { @class = "text-danger" })
        </div>
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idCargo, "Cargo", htmlAttributes: new { @class = "col-form-label" })
        @Html.DropDownList("idCargo", (SelectList)ViewBag.cargo, "--Seleccione--", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.idCargo, "", new { @class = "text-danger" })
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.passEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.passEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idDistrito, "Tipo_Usuario", htmlAttributes: new { @class = "col-form-label" })
            @Html.DropDownList("idTipoUsuario", (SelectList)ViewBag.tipousuario, "--Seleccione--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idTipoUsuario, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Regresar", "ListadoEmpleados")
</div>
