@model IEnumerable<TechnologyStore.Models.usp_adm_distrito_listar_Result>

@{
    ViewBag.Title = "ListaDistritos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Distritos</h2>

<p>
    @Html.ActionLink("Nuevo Distrito", "SaveDistrito")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idDistrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomDistrito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDistrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomDistrito)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
