@model IEnumerable<TechnologyStore.Models.usp_adm_categoria_listar_Result>

@{
    ViewBag.Title = "ListaCategorias";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Nueva Categoria", "SaveCategoria")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomCategoria)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
