@model IEnumerable<TechnologyStore.Models.usp_adm_tipousuario_listar_Result>

@{
    ViewBag.Title = "ListaTipoUsuario";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Tipos de Usuario</h2>

<p>
    @Html.ActionLink("Nuevo Tipo de Usuario", "SaveTipoUsuario")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomTipoUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomTipoUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
